.App-logo {
  pointer-events: none;
  transition-duration: ;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.right-flech:hover {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .right-flech:hover {
    animation: right-flech-spin initial 1s linear;
  }
}

@keyframes right-flech-spin {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(90deg);
  }
}


